<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiji.dao.MicroVoteUserMapper" >
  <resultMap id="BaseResultMap" type="com.qiji.domain.MicroVoteUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="voteid" property="voteid" jdbcType="TINYINT" />
    <result column="cnt" property="cnt" jdbcType="INTEGER" />
    <result column="declaration" property="declaration" jdbcType="VARCHAR" />
    <result column="checktime" property="checktime" jdbcType="TIMESTAMP" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="rank" property="rank" jdbcType="INTEGER" />
    <result column="rankcnt" property="rankcnt" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, status, createtime, voteid, cnt, declaration, checktime, picture, rank, 
    rankcnt
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from micro_vote_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from micro_vote_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qiji.domain.MicroVoteUser" >
    insert into micro_vote_user (id, userid, status, 
      createtime, voteid, cnt, 
      declaration, checktime, picture, 
      rank, rankcnt)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{voteid,jdbcType=TINYINT}, #{cnt,jdbcType=INTEGER}, 
      #{declaration,jdbcType=VARCHAR}, #{checktime,jdbcType=TIMESTAMP}, #{picture,jdbcType=VARCHAR}, 
      #{rank,jdbcType=INTEGER}, #{rankcnt,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qiji.domain.MicroVoteUser" >
    insert into micro_vote_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="voteid != null" >
        voteid,
      </if>
      <if test="cnt != null" >
        cnt,
      </if>
      <if test="declaration != null" >
        declaration,
      </if>
      <if test="checktime != null" >
        checktime,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="rank != null" >
        rank,
      </if>
      <if test="rankcnt != null" >
        rankcnt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="voteid != null" >
        #{voteid,jdbcType=TINYINT},
      </if>
      <if test="cnt != null" >
        #{cnt,jdbcType=INTEGER},
      </if>
      <if test="declaration != null" >
        #{declaration,jdbcType=VARCHAR},
      </if>
      <if test="checktime != null" >
        #{checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="rankcnt != null" >
        #{rankcnt,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiji.domain.MicroVoteUser" >
    update micro_vote_user
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="voteid != null" >
        voteid = #{voteid,jdbcType=TINYINT},
      </if>
      <if test="cnt != null" >
        cnt = #{cnt,jdbcType=INTEGER},
      </if>
      <if test="declaration != null" >
        declaration = #{declaration,jdbcType=VARCHAR},
      </if>
      <if test="checktime != null" >
        checktime = #{checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="rankcnt != null" >
        rankcnt = #{rankcnt,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiji.domain.MicroVoteUser" >
    update micro_vote_user
    set userid = #{userid,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      voteid = #{voteid,jdbcType=TINYINT},
      cnt = #{cnt,jdbcType=INTEGER},
      declaration = #{declaration,jdbcType=VARCHAR},
      checktime = #{checktime,jdbcType=TIMESTAMP},
      picture = #{picture,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=INTEGER},
      rankcnt = #{rankcnt,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>