<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiji.dao.MicroAuthOrgniseMapper" >
  <resultMap id="BaseResultMap" type="com.qiji.domain.MicroAuthOrgnise" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="img2" property="img2" jdbcType="VARCHAR" />
    <result column="img3" property="img3" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="img1" property="img1" jdbcType="VARCHAR" />
    <result column="nums" property="nums" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="logourl" property="logourl" jdbcType="VARCHAR" />
    <result column="from_uid" property="fromUid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.qiji.domain.MicroAuthOrgnise" extends="BaseResultMap" >
    <result column="intro" property="intro" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, name, type, img2, img3, remark, img1, nums, create_time, update_time, status, 
    check_time, email, tel, logourl, from_uid
  </sql>
  <sql id="Blob_Column_List" >
    intro
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from micro_auth_orgnise
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from micro_auth_orgnise
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qiji.domain.MicroAuthOrgnise" >
    insert into micro_auth_orgnise (id, uid, name, 
      type, img2, img3, remark, 
      img1, nums, create_time, 
      update_time, status, check_time, 
      email, tel, logourl, 
      from_uid, intro)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{img2,jdbcType=VARCHAR}, #{img3,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{img1,jdbcType=VARCHAR}, #{nums,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, #{checkTime,jdbcType=TIMESTAMP}, 
      #{email,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{logourl,jdbcType=VARCHAR}, 
      #{fromUid,jdbcType=INTEGER}, #{intro,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qiji.domain.MicroAuthOrgnise" >
    insert into micro_auth_orgnise
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="img2 != null" >
        img2,
      </if>
      <if test="img3 != null" >
        img3,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="img1 != null" >
        img1,
      </if>
      <if test="nums != null" >
        nums,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="checkTime != null" >
        check_time,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="logourl != null" >
        logourl,
      </if>
      <if test="fromUid != null" >
        from_uid,
      </if>
      <if test="intro != null" >
        intro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="img2 != null" >
        #{img2,jdbcType=VARCHAR},
      </if>
      <if test="img3 != null" >
        #{img3,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="img1 != null" >
        #{img1,jdbcType=VARCHAR},
      </if>
      <if test="nums != null" >
        #{nums,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="logourl != null" >
        #{logourl,jdbcType=VARCHAR},
      </if>
      <if test="fromUid != null" >
        #{fromUid,jdbcType=INTEGER},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiji.domain.MicroAuthOrgnise" >
    update micro_auth_orgnise
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="img2 != null" >
        img2 = #{img2,jdbcType=VARCHAR},
      </if>
      <if test="img3 != null" >
        img3 = #{img3,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="img1 != null" >
        img1 = #{img1,jdbcType=VARCHAR},
      </if>
      <if test="nums != null" >
        nums = #{nums,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="checkTime != null" >
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="logourl != null" >
        logourl = #{logourl,jdbcType=VARCHAR},
      </if>
      <if test="fromUid != null" >
        from_uid = #{fromUid,jdbcType=INTEGER},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.qiji.domain.MicroAuthOrgnise" >
    update micro_auth_orgnise
    set uid = #{uid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      img2 = #{img2,jdbcType=VARCHAR},
      img3 = #{img3,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      img1 = #{img1,jdbcType=VARCHAR},
      nums = #{nums,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      email = #{email,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      logourl = #{logourl,jdbcType=VARCHAR},
      from_uid = #{fromUid,jdbcType=INTEGER},
      intro = #{intro,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiji.domain.MicroAuthOrgnise" >
    update micro_auth_orgnise
    set uid = #{uid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      img2 = #{img2,jdbcType=VARCHAR},
      img3 = #{img3,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      img1 = #{img1,jdbcType=VARCHAR},
      nums = #{nums,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      email = #{email,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      logourl = #{logourl,jdbcType=VARCHAR},
      from_uid = #{fromUid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>