<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiji.dao.MicroLeaveMessageMapper" >
  <resultMap id="BaseResultMap" type="com.qiji.domain.MicroLeaveMessage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="actid" property="actid" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="sid" property="sid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, actid, content, uid, create_time, sid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from micro_leave_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from micro_leave_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qiji.domain.MicroLeaveMessage" >
    insert into micro_leave_message (id, actid, content, 
      uid, create_time, sid
      )
    values (#{id,jdbcType=INTEGER}, #{actid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{uid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{sid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qiji.domain.MicroLeaveMessage" >
    insert into micro_leave_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="actid != null" >
        actid,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="sid != null" >
        sid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="actid != null" >
        #{actid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiji.domain.MicroLeaveMessage" >
    update micro_leave_message
    <set >
      <if test="actid != null" >
        actid = #{actid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sid != null" >
        sid = #{sid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiji.domain.MicroLeaveMessage" >
    update micro_leave_message
    set actid = #{actid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      sid = #{sid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>