<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiji.dao.MicroCarouselMapper" >
  <resultMap id="BaseResultMap" type="com.qiji.domain.MicroCarousel" >
    <id column="carousel_id" property="carouselId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="link_type" property="linkType" jdbcType="VARCHAR" />
    <result column="link_url" property="linkUrl" jdbcType="VARCHAR" />
    <result column="display_order" property="displayOrder" jdbcType="TINYINT" />
    <result column="is_show" property="isShow" jdbcType="BIT" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    carousel_id, title, img_url, link_type, link_url, display_order, is_show, is_delete, 
    update_time, add_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from micro_carousel
    where carousel_id = #{carouselId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from micro_carousel
    where carousel_id = #{carouselId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qiji.domain.MicroCarousel" >
    insert into micro_carousel (carousel_id, title, img_url, 
      link_type, link_url, display_order, 
      is_show, is_delete, update_time, 
      add_time)
    values (#{carouselId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{linkType,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, #{displayOrder,jdbcType=TINYINT}, 
      #{isShow,jdbcType=BIT}, #{isDelete,jdbcType=BIT}, #{updateTime,jdbcType=INTEGER}, 
      #{addTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qiji.domain.MicroCarousel" >
    insert into micro_carousel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="carouselId != null" >
        carousel_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="linkType != null" >
        link_type,
      </if>
      <if test="linkUrl != null" >
        link_url,
      </if>
      <if test="displayOrder != null" >
        display_order,
      </if>
      <if test="isShow != null" >
        is_show,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="carouselId != null" >
        #{carouselId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null" >
        #{linkType,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null" >
        #{displayOrder,jdbcType=TINYINT},
      </if>
      <if test="isShow != null" >
        #{isShow,jdbcType=BIT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiji.domain.MicroCarousel" >
    update micro_carousel
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null" >
        link_type = #{linkType,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        link_url = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null" >
        display_order = #{displayOrder,jdbcType=TINYINT},
      </if>
      <if test="isShow != null" >
        is_show = #{isShow,jdbcType=BIT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=INTEGER},
      </if>
    </set>
    where carousel_id = #{carouselId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiji.domain.MicroCarousel" >
    update micro_carousel
    set title = #{title,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      link_type = #{linkType,jdbcType=VARCHAR},
      link_url = #{linkUrl,jdbcType=VARCHAR},
      display_order = #{displayOrder,jdbcType=TINYINT},
      is_show = #{isShow,jdbcType=BIT},
      is_delete = #{isDelete,jdbcType=BIT},
      update_time = #{updateTime,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=INTEGER}
    where carousel_id = #{carouselId,jdbcType=INTEGER}
  </update>
</mapper>