<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiji.dao.MicroMessageMapper" >
  <resultMap id="BaseResultMap" type="com.qiji.domain.MicroMessage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="recid" property="recid" jdbcType="INTEGER" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <result column="msg_type" property="msgType" jdbcType="INTEGER" />
    <result column="is_read" property="isRead" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="read_time" property="readTime" jdbcType="TIMESTAMP" />
    <result column="recuid" property="recuid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, recid, msg, msg_type, is_read, create_time, read_time, recuid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from micro_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from micro_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qiji.domain.MicroMessage" >
    insert into micro_message (id, recid, msg, 
      msg_type, is_read, create_time, 
      read_time, recuid)
    values (#{id,jdbcType=INTEGER}, #{recid,jdbcType=INTEGER}, #{msg,jdbcType=VARCHAR}, 
      #{msgType,jdbcType=INTEGER}, #{isRead,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{readTime,jdbcType=TIMESTAMP}, #{recuid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qiji.domain.MicroMessage" >
    insert into micro_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="recid != null" >
        recid,
      </if>
      <if test="msg != null" >
        msg,
      </if>
      <if test="msgType != null" >
        msg_type,
      </if>
      <if test="isRead != null" >
        is_read,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="readTime != null" >
        read_time,
      </if>
      <if test="recuid != null" >
        recuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="recid != null" >
        #{recid,jdbcType=INTEGER},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null" >
        #{msgType,jdbcType=INTEGER},
      </if>
      <if test="isRead != null" >
        #{isRead,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readTime != null" >
        #{readTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recuid != null" >
        #{recuid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiji.domain.MicroMessage" >
    update micro_message
    <set >
      <if test="recid != null" >
        recid = #{recid,jdbcType=INTEGER},
      </if>
      <if test="msg != null" >
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null" >
        msg_type = #{msgType,jdbcType=INTEGER},
      </if>
      <if test="isRead != null" >
        is_read = #{isRead,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readTime != null" >
        read_time = #{readTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recuid != null" >
        recuid = #{recuid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiji.domain.MicroMessage" >
    update micro_message
    set recid = #{recid,jdbcType=INTEGER},
      msg = #{msg,jdbcType=VARCHAR},
      msg_type = #{msgType,jdbcType=INTEGER},
      is_read = #{isRead,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      read_time = #{readTime,jdbcType=TIMESTAMP},
      recuid = #{recuid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>