<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <content>
		<div class="page">
			<div class="bannerBox area">
				<div class="userCenter left">
					<div class="userCenter-tab">
						<span id="" class="userCenter-tab-selected">雇主登陆</span>
						<span id="">服务商登陆</span>
					</div>
					<form id="userlogina" action="">
						<span id="error">111</span>
		                <div id="number" class="number">
		                	<label for="tel">手机号</label>
		                    <input class="tel" type="text" id="tel" name="username" maxlength="11" placeholder="请输入您的手机号码">	                    
		                </div>                
		                <div id="password_box" class="number">
		                	<label for="tx">密码</label>
		                    <input id="tx" name="mima" type="text" placeholder="请输入您的密码">
		                </div>
		                <a href="" id="forgot">忘记密码</a>           
		                <input type="button" id="login_btn" value="登录">	                                
		                <div class="forget_box">
		                    <div class="forget_l">
		                        <input id="remind" name="remind" type="checkbox">
		                        <span>下次自动登录</span>
		                    </div>
		                    <a href="" class="right" id="register">新用户注册</a>  
		                </div>
		            </form>
		            <div class="else-login">
		            	<p><i class="line-l"></i>其他方式登陆<i class="line-r"></i></p>
		            	<div class="login-way">
		            		<a class="qq" href=""></a>
		            		<a class="weixin" href=""></a>
		            		<a class="weibo" href=""></a>
		            	</div>
		            </div>
				</div>
				<div class="banner left">
					<div class="slider1">
						<div class="slide"><img src="img/banner-1.png"></div>
						<div class="slide"><img src="img/banner-1.png"></div>
						<div class="slide"><img src="img/banner-1.png"></div>
					</div>
				</div>
				<div class="banner-right right">
					<p class="head-btn">让企业营销推广变得简单</p>
					<div class="banner-right-number">
						<span>已入住社团</span>
						<h2>12345678</h2>
					</div>
					<div class="banner-right-number">
						<span>已入住社团</span>
						<h2>12345678</h2>
					</div>
				</div>
			</div>
			<div class="requiredBox area clearfix">
				<div class="required-left left">
					<h2 class="head-btn">需求资源</h2>
					<p class="required-left-info">写下你的真实需求，包括需求类型、简介、任务要求、需求预算、需求地点、开始及结束时间、联系人姓名、电话、邮箱等重要信息，收到后我们会立即给您回电确认，剩下的就交给我们帮您完成！</p>
					<span>委托找服务—选择预算-完成交易</span>
					<a class="head-btn" href="">发布需求</a>
				</div>
				<div class="required-right right">
					<div class="title">
						<a href="">更多需求</a>
						<h2>最新需求</h2>
					</div>
					<div class="sortBox">
						<span>排序</span>
						<a href="">地区</a>
						<a href="">类型</a>
						<a href="">预算</a>
						<a href="">开始时间</a>
					</div>
					<div class="line"></div>
					<div class="required-main">
						<div class="required-list">
							<div class="required-list-l left">
								<img src="img/11.png"/>
							</div>
							<div class="required-list-r right">
								<h4>需求类型：微信公众号推广</h4>
								<p>企业名称：中国人民大学</p>
								<p>需求简介：主要介绍项目推广的目的，想到达到什么样的效果主要介绍项目推广的目的，想到．．．．</p>
								<span>地区：杭州市</span>
								<span>预算：10000</span>
								<span>开始时间：2017.9.16</span>
								<div class="required-bottom-info"><span>结束时间：2017.12.31</span><span class="right">距离抢单结束时间还有：<i>00:21:10</i></span></div>
								<a href="" class="head-btn">马上抢</a>
							</div>
						</div>
						<div class="required-list">
							<div class="required-list-l left">
								<img src="img/11.png"/>
							</div>
							<div class="required-list-r right">
								<h4>需求类型：微信公众号推广</h4>
								<p>企业名称：中国人民大学</p>
								<p>需求简介：主要介绍项目推广的目的，想到达到什么样的效果主要介绍项目推广的目的，想到．．．．</p>
								<span>地区：杭州市</span>
								<span>预算：10000</span>
								<span>开始时间：2017.9.16</span>
								<div class="required-bottom-info"><span>结束时间：2017.12.31</span><span class="right">距离抢单结束时间还有：<i>00:21:10</i></span></div>
								<a href="" class="head-btn">马上抢</a>
							</div>
						</div>
						<div class="required-list">
					<div class="required-list-l left">
						<img src="img/11.png"/>
					</div>
							<div class="required-list-r right">
								<h4>需求类型：微信公众号推广</h4>
								<p>企业名称：中国人民大学</p>
								<p>需求简介：主要介绍项目推广的目的，想到达到什么样的效果主要介绍项目推广的目的，想到．．．．</p>
								<span>地区：杭州市</span>
								<span>预算：10000</span>
								<span>开始时间：2017.9.16</span>
								<div class="required-bottom-info"><span>结束时间：2017.12.31</span><span class="right">距离抢单结束时间还有：<i>00:21:10</i></span></div>
								<a href="" class="head-btn">马上抢</a>
							</div>
						</div>
						<div class="required-list">
							<div class="required-list-l left">
								<img src="img/11.png"/>
							</div>
							<div class="required-list-r right">
								<h4>需求类型：微信公众号推广</h4>
								<p>企业名称：中国人民大学</p>
								<p>需求简介：主要介绍项目推广的目的，想到达到什么样的效果主要介绍项目推广的目的，想到．．．．</p>
								<span>地区：杭州市</span>
								<span>预算：10000</span>
								<span>开始时间：2017.9.16</span>
								<div class="required-bottom-info"><span>结束时间：2017.12.31</span><span class="right">距离抢单结束时间还有：<i>00:21:10</i></span></div>
								<a href="" class="head-btn">马上抢</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="recommend area">
				<h2 class="recommend-l left">服务商推荐</h2>
				<ul class="recommend-r left">
					<li><img src="img/required-1.png"/></li>
					<li><img src="img/required-2.png"/></li>
					<li><img src="img/required-3.png"/></li>
					<li><img src="img/required-4.png"/></li>
					<li><img src="img/required-5.png"/></li>
					<li><img src="img/required-6.png"/></li>
					<li><img src="img/required-7.png"/></li>
				</ul>
			</div>
			<div class="requiredBox area clearfix">
				<div class="required-left left">
					<h2 class="head-btn">服务列表</h2>
					<div class="serviceBox">
						<div class="service-item">
							<h5>线上</h5>
							<div class="service-item-text clearfix">							
								<a href="">微信公众号</a>
								<a href="">微博</a>
								<a href="">朋友圈</a>
								<a href="">校内群</a>
								<a href="">QQ空间转发</a>
								<a href="">BBS</a>
								<a href="">贴吧</a>
							</div>
						</div>
						<div class="service-item">
							<h5>线下</h5>
							<div class="service-item-text clearfix">							
								<a href="">广播站</a>
								<a href="">宣传栏</a>
								<a href="">电子屏</a>
								<a href="">海报</a>
								<a href="">宣传单</a>
								<a href="">横幅/喷绘</a>
								<a href="">桌贴</a>
								<a href="">灯箱广告</a>
							</div>
						</div>
						<div class="service-item">
							<h5>人员</h5>
							<div class="service-item-text clearfix">							
								<a href="">主持人</a>
								<a href="">coser</a>
								<a href="">网红主播</a>
								<a href="">礼仪模特</a>
								<a href="">兼职充场</a>
								<a href="">其他特长</a>
							</div>
						</div>
						<div class="service-item">
							<h5>场地</h5>
							<div class="service-item-text clearfix">							
								<a href="">室外路演</a>
								<a href="">教室</a>
								<a href="">篮球场</a>
								<a href="">足球场</a>
								<a href="">报告厅</a>
								<a href="">礼堂/剧场</a>
								<a href="">体育馆</a>
							</div>
						</div>
						<div class="service-item">
							<h5>内容创作</h5>
							<div class="service-item-text clearfix">							
								<a href="">营销方案</a>
								<a href="">设计</a>
								<a href="">文案写作</a>
							</div>
						</div>
						<div class="service-item">
							<h5>制作/搭建</h5>
							<div class="service-item-text clearfix">							
								<a href="">物料制作</a>
								<a href="">舞台搭建</a>
							</div>
						</div>
					</div>
				</div>
				<div class="required-right right">
					<div class="title">
						<a href="">更多需求</a>
						<h2>最新服务</h2>
					</div>
					<div class="sortBox">
						<span>排序</span>
						<a href="">地区</a>
						<a href="">学校</a>
						<a href="">院系</a>
						<a href="">价格</a>
						<a href="">预约</a>
						<a href="">评价</a>
					</div>
					<div class="line"></div>
					<div class="required-main">
						<div class="required-list">
							<div class="required-list-l left">
								<img src="img/11.png"/>
							</div>
							<div class="required-list-r right">
								<h4>服务名称：微信公众号推广</h4>
								<p>服务组织：中国人民大学</p>
								<p>服务简介：主要介绍项目推广的目的，想到达到什么样的效果主要介绍项目推广的目的，想到．．．．</p>
								<span>学校：中国人民大学</span>
								<span>预约：2天</span>
								<span>价格：300</span>
								<span>评价：4.9</span>
								<a href="" class="head-btn service-btn"></a>
							</div>
						</div>
						<div class="required-list">
							<div class="required-list-l left">
								<img src="img/11.png"/>
							</div>
							<div class="required-list-r right">
								<h4>服务名称：微信公众号推广</h4>
								<p>服务组织：中国人民大学</p>
								<p>服务简介：主要介绍项目推广的目的，想到达到什么样的效果主要介绍项目推广的目的，想到．．．．</p>
								<span>学校：中国人民大学</span>
								<span>预约：2天</span>
								<span>价格：300</span>
								<span>评价：4.9</span>
								<a href="" class="head-btn service-btn"></a>
							</div>
						</div>
						<div class="required-list">
							<div class="required-list-l left">
								<img src="img/11.png"/>
							</div>
							<div class="required-list-r right">
								<h4>服务名称：微信公众号推广</h4>
								<p>服务组织：中国人民大学</p>
								<p>服务简介：主要介绍项目推广的目的，想到达到什么样的效果主要介绍项目推广的目的，想到．．．．</p>
								<span>学校：中国人民大学</span>
								<span>预约：2天</span>
								<span>价格：300</span>
								<span>评价：4.9</span>
								<a href="" class="head-btn service-btn"></a>
							</div>
						</div>
						<div class="required-list">
							<div class="required-list-l left">
								<img src="img/11.png"/>
							</div>
							<div class="required-list-r right">
								<h4>服务名称：微信公众号推广</h4>
								<p>服务组织：中国人民大学</p>
								<p>服务简介：主要介绍项目推广的目的，想到达到什么样的效果主要介绍项目推广的目的，想到．．．．</p>
								<span>学校：中国人民大学</span>
								<span>预约：2天</span>
								<span>价格：300</span>
								<span>评价：4.9</span>
								<a href="" class="head-btn service-btn"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="showCase area">
				<div class="showCase-title">				
					<h2 class="head-btn left">案例展示</h2>
					<h3 class="left">最新案例</h3>
					<a href="">更多案例</a>
				</div>
				<ul class="showCase-list clearfix">
					<li>
						<img src="img/showCase-1.png"/>
						<div class="showCase-list-hover">
							<div class="showCase-list-hoverBg"></div>
							<div class="showCase-list-hoverTxt">
								<p>企业名称：网易云音乐</p>
								<p>服务名称：北京大学社团联合会</p>
								<p>成交价：888</p>
							</div>
						</div>
					</li>
					<li>
						<img src="img/showCase-1.png"/>
						<div class="showCase-list-hover">
							<div class="showCase-list-hoverBg"></div>
							<div class="showCase-list-hoverTxt">
								<p>企业名称：网易云音乐</p>
								<p>服务名称：北京大学社团联合会</p>
								<p>成交价：888</p>
							</div>
						</div>
					</li>
					<li>
						<img src="img/showCase-1.png"/>
						<div class="showCase-list-hover">
							<div class="showCase-list-hoverBg"></div>
							<div class="showCase-list-hoverTxt">
								<p>企业名称：网易云音乐</p>
								<p>服务名称：北京大学社团联合会</p>
								<p>成交价：888</p>
							</div>
						</div>
					</li>
					<li>
						<img src="img/showCase-1.png"/>
						<div class="showCase-list-hover">
							<div class="showCase-list-hoverBg"></div>
							<div class="showCase-list-hoverTxt">
								<p>企业名称：网易云音乐</p>
								<p>服务名称：北京大学社团联合会</p>
								<p>成交价：888</p>
							</div>
						</div>
					</li>
					<li>
						<img src="img/showCase-1.png"/>
						<div class="showCase-list-hover">
							<div class="showCase-list-hoverBg"></div>
							<div class="showCase-list-hoverTxt">
								<p>企业名称：网易云音乐</p>
								<p>服务名称：北京大学社团联合会</p>
								<p>成交价：888</p>
							</div>
						</div>
					</li>
					<li>
						<img src="img/showCase-1.png"/>
						<div class="showCase-list-hover">
							<div class="showCase-list-hoverBg"></div>
							<div class="showCase-list-hoverTxt">
								<p>企业名称：网易云音乐</p>
								<p>服务名称：北京大学社团联合会</p>
								<p>成交价：888</p>
							</div>
						</div>
					</li>
					<li>
						<img src="img/showCase-1.png"/>
						<div class="showCase-list-hover">
							<div class="showCase-list-hoverBg"></div>
							<div class="showCase-list-hoverTxt">
								<p>企业名称：网易云音乐</p>
								<p>服务名称：北京大学社团联合会</p>
								<p>成交价：888</p>
							</div>
						</div>
					</li>
					<li>
						<img src="img/showCase-1.png"/>
						<div class="showCase-list-hover">
							<div class="showCase-list-hoverBg"></div>
							<div class="showCase-list-hoverTxt">
								<p>企业名称：网易云音乐</p>
								<p>服务名称：北京大学社团联合会</p>
								<p>成交价：888</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<ul class="friendLink area clearfix">
			<li><img src="img/link-1.png"/></li>
			<li><img src="img/link-2.png"/></li>
			<li><img src="img/link-3.png"/></li>
			<li><img src="img/link-4.png"/></li>
			<li><img src="img/link-5.png"/></li>
			<li><img src="img/link-6.png"/></li>
			<li><img src="img/link-7.png"/></li>
			<li><img src="img/link-8.png"/></li>
			<li><img src="img/link-9.png"/></li>
			<li><img src="img/link-10.png"/></li>
			<li><img src="img/link-11.png"/></li>
			<li><img src="img/link-12.png"/></li>
			<li><img src="img/link-13.png"/></li>
			<li><img src="img/link-14.png"/></li>
			<li><img src="img/link-15.png"/></li>			
			<li><img src="img/link-16.png"/></li>
		</ul>
		</div>
	</body>
</html>
