<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<footer>	
		<div class="footer">
			<div class="area footerNav">
				<h5>联系我们</h5>
				<ul class="footer-address">
					<li>
						<p><i class="ftIcon1"></i>公司电话：010 57158847</p>
						<p><i class="ftIcon2"></i>商务合作电话：18811078860</p>
						<p><i class="ftIcon3"></i>邮箱：qijihuodong@163.com</p>
					</li>
					<li>
						<p><i class="ftIcon4"></i>公司地址：北京市昌平区国风美唐综合楼2号楼703</p>
						<p><i class="ftIcon5"></i>微信客服：dcqj101</p>
					</li>
				</ul>				
				<div class="erweimaBox">
					<span class="erweima"><img src="img/erweima.png"/></span>
					<p>奇迹活动微信公众号</p>
				</div>
			</div>
		</div>
	</footer>
</html>
