<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head th:replace="common/inc::common_header('个人资料')">
	</head>
<body>
   <header th:replace="common/header :: header"></header>
		<div class="page">
			<div class="case clearfix area">
				<div class="case-l left">
					<ul>
						<li>
							<h3>用户中心</h3>
							<a class="active" href="myInfo">个人资料</a>
							<a href="javascript:void(0)">组织管理</a>
							<a href="javascript:void(0)">资金管理</a>
							<a href="javascript:void(0)">账户管理</a>
						</li>
						<li>
							<h3>订单管理</h3>
							<a href="javascript:void(0)">我的购物车</a>
							<a href="myOrder">我的订单</a>
							<a href="myTradeInfo">交易记录</a>
							<a href="javascript:void(0)">数据统计</a>
						</li>
						<li>
							<h3>服务商管理</h3>
							<a href="javascript:void(0)">雇主访问记录</a>
							<a href="javascript:void(0)">合作的服务商</a>
						</li>
						<li>
							<h3>消息中心</h3>
							<a href="javascript:void(0)">未读消息</a>
							<a href="javascript:void(0)">已读消息</a>
						</li>
					</ul>
				</div>
				<div class="case-r right">					
					<div class="pageSlider"><a href="myInfo">我是雇主</a>>个人资料</div>
					<div class="accout-management information">
						<h5>基础信息</h5>
						<div class="ipt">
							<label><i>*</i>昵称：</label>
							<input type="text" name="nickname" id="myInfo_nickname" />
						</div>
						
						<div class="addImg">
							<span><i>*</i>头像：</span>
							<div class="addImg-right">
								<div id="logoUrl_uploadImg">
								
								</div>
							</div>
							<p>图片格式JPG、JPEG、PNG文件大小3M以内</p>
						</div>
						<div class="confirmImg">
							<span><i>*</i>企业认证：</span>
							<div class="confirmImg-right">
								<div id="idCard_uploadImg">
								
								</div>
								<p>身份证</p>
							</div>
							<div class="confirmImg-right">
								<div id="studentImg_uploadImg">
								
								</div>
								<p>营业执照</p>
							</div>
							<p>图片格式JPG、JPEG、PNG文件大小3M以内</p>
						</div>
						<div class="ipt info">
							<label><i>*</i>简介：</label>
							<textarea name="intro" rows="" cols="" id="myInfo_intro"></textarea>
						</div>
						<div class="ipt">
							<label><i>*</i>联系人：</label>
							<input type="text" name="name" id="myInfo_name"  />
						</div>
						<div class="ipt">
							<label><i>*</i>联系方式：</label>
							<input type="text" name="mobile" id="myInfo_mobile"  />
						</div>
						<div class="ipt">
							<label><i>*</i>邮箱：</label>
							<input type="text" name="email" id="myInfo_email" />
						</div>
						<div class="info-btn">          	
		                	<input class="btn" type="button" value="保存" id="myInfo_save_btn">
		                	<span id="myInfo_errMsg"></span>
		                </div>
					</div>
				</div>
			</div>
		</div>
   <footer th:replace="common/footer :: footer"></footer>
</body>
<link rel="stylesheet" type="text/css" href="css/my.css"  />
<script type="text/javascript" src="js/tinyImgUpload.js" ></script>
<script type="text/javascript" src="js/myInfo.js"></script>
</html>
