<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head th:replace="common/inc::common_header('联系我们')">
	</head>
<body>
   <header th:replace="common/header :: header"></header>
		<div class="page">
			<div class="area about">
				<div class="aboutList">
					<div class="aboutList-l left">
						<h3>移动客服</h3>
						<ul>
							<li><i></i><span>关注微信，不但可以快速联系客服，还可以更快捷的管理账户和订单。</span></li>
							<li><i></i><span>服务时间：周一至周日9：00-23:00</span></li>
							<li><i></i><span>温馨提示：有账户或者订单的客户，在咨询前若能提前准备一下账号或订单信息，客户帮助客服更快的定位和解决问题。</span></li>
						</ul>
					</div>
					<div class="aboutList-r right">
						<div class="oneImg">
							<img src="img/erweima.png"/>
							<p>立即扫我</p>
						</div>
					</div>
				</div>
				<div class="aboutList kefu">
					<div class="aboutList-l left">
						<h3>在线人工客服</h3>
						<ul>
							<li><i></i><span>关注微信，不但可以快速联系客服，还可以更快捷的管理账户和订单。</span></li>
							<li><i></i><span>服务时间：周一至周日9：00-23:00</span></li>
							<li><i></i><span>服务商咨询服务时间：周一至周日9:00-18:00</span></li>
						</ul>
					</div>
					<div class="aboutList-r right">
						<div class="secondImg">
							<div class="secondImg-line"></div>
							<div class="secondImg-l">								
								<img src="img/erweima.png"/>
								<p>雇主咨询</p>
							</div>
							<div class="secondImg-l">								
								<img src="img/erweima.png"/>
								<p>服务商咨询</p>
							</div>
						</div>
					</div>
				</div>
				<div class="aboutList">
					<div class="aboutList-l left">
						<h3>预约客服</h3>
						<ul>
							<li><i></i><span>您可以拨打以下电话主动联系我们，或者点击右侧预约我们的客服，我们将竭诚为您服务。</span></li>
							<li><i></i><span>雇主服务热线：010-57158847&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;服务时间：周一至周日：9：00-23:00</span></li>
							<li><i></i><span>服务商服务热线：010-57158847&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;服务时间：周一至周日：9：00-18:00</span></li>
							<li><i></i><span>温馨提示：有账户或者订单的客户，在咨询前若能提前准备一下账号或订单信息，可以帮助客服更快的定位和解决问题。</span></li>
						</ul>
					</div>
					<div class="aboutList-r right">
						<div class="oneImg">
							<img src="img/erweima.png"/>
							<p>预约客服</p>
						</div>
					</div>
				</div>
			</div>
		</div>
   <footer th:replace="common/footer :: footer"></footer>
</body>
<script type="text/javascript">
$(function(){
	$(".nav-selected").removeClass("nav-selected");
	$(".navBox li").eq(4).addClass("nav-selected");
});
</script>
</html>
