<!DOCTYPE html>
<html>
	<head>
		<title>忘记密码</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/login.css"/>
	</head>
	<body>
		<div class="login-area">
			<div class="login-header">			
				<div class="login-logo left"><img src="img/login-logo.png"/></div>
				<p class="right">已有账号，<a href="">马上登陆</a>|<a href="">返回首页</a></p>
			</div>
			<div class="forgetBox">
				<div class="forget-title">忘记密码</div>
				<form id="userlogina" class="form" action="">
	                <div id="number" class="number">
	                    <input class="tel" type="text" id="tel" name="username" maxlength="11" placeholder="请输入注册时的手机号码"/>	                    
	                </div>
	                <div id="yzmBox" class="number">
	                    <input class="yzm" type="text" id="yzm" name="yzm" placeholder="请输入验证码"/>
	                    <span>发送验证码</span>
	                </div>
	                <div id="password_box" class="number">
	                    <input id="tx" name="mima" type="text" placeholder="请输入新的密码"/>
	                </div>
	                <div id="confirm-password_box" class="number">
	                    <input id="cf-mima" name="cf-mima" type="text" placeholder="请再次输入密码"/>
	                </div>
					<span id="error">111</span>
	                <input type="button" id="login_btn" value="登录"/>	                                
	                <span class="right el">已有账户<a href="">去登陆</a></span> 	                
	            </form>
				<p class="info">京ICP备11017824号-4 / 京ICP证130164号 北京市公安局朝阳分局备案编号110105000501</p>
				<p class="info">Copyright © 2016-2017 奇迹活动</p>
			</div>
		</div>
	</body>
</html>
