<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head th:replace="common/inc::common_header('首页')">
	</head>
<body>
   <header th:replace="common/header :: header"></header>
   <div class="page">
			<div class="bannerBox area">
				<div id="user_login_before" class="userCenter left">
					<div class="userCenter-tab">
						<span class="userCenter-tab-selected">用户登录</span>
					</div>
					<div class="loginBox">
						<form id="userlogina" action="">
							<span id="user_login_error"></span>
							<input name="utype" id="user_login_utype" value="2" hidden="true"/>
			                <div id="number" class="number">
			                	<label for="user_login_tel">手机号</label>
			                    <input class="tel" type="text" id="user_login_tel" name="utel" maxlength="11" placeholder="请输入您的手机号码"/>	                    
			                </div>                
			                <div id="password_box" class="number">
			                	<label for="user_login_tel">密码</label>
			                    <input id="user_login_password" name="upwd" type="password" placeholder="请输入您的密码"/>
			                </div>
			                <a href="forget" id="forgot">忘记密码</a>           
			                <input type="button" id="login_btn" value="登录" style="cursor: pointer;"/>	                                
			                <div class="forget_box">
			                    <div class="forget_l">
			                        <input id="user_login_remind" name="remind" type="checkbox" checked="true"/>
			                        <span>下次自动登录</span>
			                    </div>
			                    <a href="/qiji/register" class="right" id="register">新用户注册</a>  
			                </div>
			            </form>
			            <div class="else-login">
			            	<p><i class="line-l"></i>其他方式登陆<i class="line-r"></i></p>
			            	<div class="login-way">
			            		<a class="qq" href="javascript:void(0);" onClick="alert('接入中，敬请期待！')"></a>
			            		<a class="weixin" href="javascript:void(0);" onClick="alert('接入中，敬请期待！')"></a>
			            		<a class="weibo" href="javascript:void(0);" onClick="alert('接入中，敬请期待！')"></a>
			            	</div>
			            </div>
		            </div>
		            <div class="login-userMsg">
						<div class="login-userMsg-tBox">
							<div class="login-userMsg-t">								
								<a href="javascript:void(0);" id="index_logout">[退出]</a>
								<img src="img/required-5.png"/>
								<span id="user_login_after_tel"></span>
							</div>
						</div>
						<ul class="dingdanList clearfix">
							<li>我的订单（<i>2</i>）</li>
							<li>待评价的（<i>2</i>）</li>
							<li>最新消息（<i>2</i>）</li>
							<li>待确定的（<i>2</i>）</li>
							<li>我发布的（<i>2</i>）</li>
							<li>合作中的（<i>2</i>）</li>
						</ul>
						<a class="userLink" href="">进入个人中心</a>
					</div>
				</div>
				
				<div class="banner left">
					<div class="slider1">
						<div class="slide"><img src="http://qj101.com/upload/carousel/5ae14fde5a1af.jpg"/></div>
						<div class="slide"><img src="http://qj101.com/upload/carousel/5b2335fe78c76.png"/></div>
						<div class="slide"><img src="http://qj101.com/upload/carousel/5b178912b1e41.jpg"/></div>
						<div class="slide"><img src="http://qj101.com/upload/carousel/5b20ac303193b.jpg"/></div>
						<div class="slide"><img src="img/banner-1.png"/></div>
					</div>
				</div>
				<div class="banner-right right">
					<p class="head-btn">让企业营销推广变得简单</p>
					<div class="banner-right-number">
						<span>已入住企业</span>
						<h2 th:text="${businessNums}">12345678</h2>
					</div>
					<div class="banner-right-number">
						<span>已入住社团</span>
						<h2 th:text="${OrgniseNums}">12345678</h2>
					</div>
				</div>
			</div>
			<div class="requiredBox area clearfix">
				<div class="required-left left">
					<h2 class="head-btn">需求资源</h2>
					<p class="required-left-info">写下你的真实需求，包括需求类型、简介、任务要求、需求预算、需求地点、开始及结束时间、联系人姓名、电话、邮箱等重要信息，收到后我们会立即给您回电确认，剩下的就交给我们帮您完成！</p>
					<span>委托找服务—选择预算-完成交易</span>
					<a class="head-btn" href="">发布需求</a>
				</div>
				<div class="required-right right">
					<div class="title">
						<a href="">更多需求</a>
						<h2>最新需求</h2>
					</div>
					<div class="line"></div>
					<div class="required-main"  id="index-required-list">
						<div th:each="entry,iterEntry:${activityContentList}" class="required-list" >
							<div class="required-list-l left">
								<img th:src="'http://qj101.com' + ${entry.activityPictureUrl}" src="img/11.png" style="height:150px;width:230px;"/>
							</div>
							<div class="required-list-r right">
								
								<h4 style="float:left;" th:text="'需求类型 : ' + ${entry.parentCategoryName}">需求类型：线上</h4>
								<p style="margin-left:20px;display:inline;" th:text="'需求名称 : ' + ${entry.categoryName} + '推广'">需求名称：微信公众号推广</p>
								<p th:text="'企业名称 : ' + ${entry.activityOgname}">企业名称：中国人民大学</p>
								<p th:text="'需求简介 : ' + ${entry.activityContent}">主要介绍项目推广的目的，想到达到什么样的效果主要介绍项目推广的目的，想到．．．．</p>
								<span th:text="'地区: ' + ${entry.activityAddress}">地区：杭州市</span>
								<span th:text="'预算 : ' + ${entry.activityActback}">预算：10000</span>
								<span th:text="'开始时间 : ' + ${entry.activityStartTime}">开始时间：2017.9.16</span>
								<div class="required-bottom-info">
									<span th:text="'结束时间 : ' + ${entry.activityEndTime}">结束时间：2017.12.31</span>
									<span class="right">距离抢单结束时间还有：
										
										<span class="countdown">
											<span th:text="${entry.activityEndTime}" hidden="true"></span>
											<i class="days">00</i>
											<i class="days_ref"> 天  </i>
											<i class="hours">00</i>
											<i>:</i>
											<i class="minutes">00</i>
											<i>:</i>
											<i class="seconds">00</i>
										</span>
									</span>
								</div>
								<span th:text="${entry.activityActid}" style="display:none;"></span>
								<a href="javascript:void(0);" class="head-btn">马上抢</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="recommend area">
				<h2 class="recommend-l left">服务商推荐</h2>
				<ul class="recommend-r left">
					<li><img src="img/required-1.png"/></li>
					<li><img src="img/required-2.png"/></li>
					<li><img src="img/required-3.png"/></li>
					<li><img src="img/required-4.png"/></li>
					<li><img src="img/required-5.png"/></li>
					<li><img src="img/required-6.png"/></li>
					<li><img src="img/required-7.png"/></li>
				</ul>
			</div>
			<div class="requiredBox area clearfix">
				<div class="required-left left">
					<h2 class="head-btn">服务列表</h2>
					<div class="serviceBox">
						<div th:each="mapS,iterStat:${serviceList}" class="service-item">
							<h5 th:text="${iterStat.current.key}">线上</h5>
							<div class="service-item-text clearfix">							
								<a  th:each="service,serviceStat : ${iterStat.current.value}" th:text="${service.name}" href="">微信公众号</a>
							</div>
						</div>
					</div>
				</div>
				<div class="required-right right">
					<div class="title">
						<a href="">更多服务</a>
						<h2>最新服务</h2>
					</div>
					<div class="line"></div>
					<div class="required-main" id="index-service-list">
						<div th:each="mapS,iterStat:${serviceContentList}" class="required-list">
							<div class="required-list-l left">
								<img th:each="serviceContent,serviceContentStat : ${iterStat.current.value}" 
									src='img/11.png' th:if="${serviceContent.propType} == 'A'" th:src="'http://qj101.com/upload/' + ${serviceContent.servicePropValue}"/>
							</div>
							<div class="required-list-r right">   								
								<h4 th:each="serviceContent,serviceContentStat : ${iterStat.current.value}" 
									th:text="${serviceContent.servicePropName}+ ' : ' + ${serviceContent.servicePropValue}"
									th:if="${serviceContent.propType} == 'a'">服务名称：微信公众号推广</h4>
								<p th:each="serviceContent,serviceContentStat : ${iterStat.current.value}" 
									th:text="${serviceContent.servicePropName}+ ' : ' + ${serviceContent.servicePropValue}"
									th:if="${serviceContent.propType} == 'b'">服务组织：中国人民大学</p>
								<span th:each="serviceContent,serviceContentStat : ${iterStat.current.value}" 
									th:text="${serviceContent.servicePropName}+ ' : ' + ${serviceContent.servicePropValue}"
									th:if="${serviceContent.propType} == 'c'">服务组织：中国人民大学</span>
								<a href="javascript:void(0);" class="head-btn service-btn" th:value="${iterStat.current.key}"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="showCase area">
				<div class="showCase-title">				
					<h2 class="head-btn left">案例展示</h2>
					<h3 class="left">最新案例</h3>
					<a href="">更多案例</a>
				</div>
				<ul class="showCase-list clearfix">
					<li>
						<img src="img/showCase-1.png"/>
						<div class="showCase-list-hover">
							<div class="showCase-list-hoverBg"></div>
							<div class="showCase-list-hoverTxt">
								<p>企业名称：网易云音乐</p>
								<p>服务名称：北京大学社团联合会</p>
								<p>成交价：888</p>
							</div>
						</div>
					</li>
					<li>
						<img src="img/showCase-1.png"/>
						<div class="showCase-list-hover">
							<div class="showCase-list-hoverBg"></div>
							<div class="showCase-list-hoverTxt">
								<p>企业名称：网易云音乐</p>
								<p>服务名称：北京大学社团联合会</p>
								<p>成交价：888</p>
							</div>
						</div>
					</li>
					<li>
						<img src="img/showCase-1.png"/>
						<div class="showCase-list-hover">
							<div class="showCase-list-hoverBg"></div>
							<div class="showCase-list-hoverTxt">
								<p>企业名称：网易云音乐</p>
								<p>服务名称：北京大学社团联合会</p>
								<p>成交价：888</p>
							</div>
						</div>
					</li>
					<li>
						<img src="img/showCase-1.png"/>
						<div class="showCase-list-hover">
							<div class="showCase-list-hoverBg"></div>
							<div class="showCase-list-hoverTxt">
								<p>企业名称：网易云音乐</p>
								<p>服务名称：北京大学社团联合会</p>
								<p>成交价：888</p>
							</div>
						</div>
					</li>
					<li>
						<img src="img/showCase-1.png"/>
						<div class="showCase-list-hover">
							<div class="showCase-list-hoverBg"></div>
							<div class="showCase-list-hoverTxt">
								<p>企业名称：网易云音乐</p>
								<p>服务名称：北京大学社团联合会</p>
								<p>成交价：888</p>
							</div>
						</div>
					</li>
					<li>
						<img src="img/showCase-1.png"/>
						<div class="showCase-list-hover">
							<div class="showCase-list-hoverBg"></div>
							<div class="showCase-list-hoverTxt">
								<p>企业名称：网易云音乐</p>
								<p>服务名称：北京大学社团联合会</p>
								<p>成交价：888</p>
							</div>
						</div>
					</li>
					<li>
						<img src="img/showCase-1.png"/>
						<div class="showCase-list-hover">
							<div class="showCase-list-hoverBg"></div>
							<div class="showCase-list-hoverTxt">
								<p>企业名称：网易云音乐</p>
								<p>服务名称：北京大学社团联合会</p>
								<p>成交价：888</p>
							</div>
						</div>
					</li>
					<li>
						<img src="img/showCase-1.png"/>
						<div class="showCase-list-hover">
							<div class="showCase-list-hoverBg"></div>
							<div class="showCase-list-hoverTxt">
								<p>企业名称：网易云音乐</p>
								<p>服务名称：北京大学社团联合会</p>
								<p>成交价：888</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<ul class="friendLink area clearfix">
			<li><img src="img/link-1.png"/></li>
			<li><img src="img/link-2.png"/></li>
			<li><img src="img/link-3.png"/></li>
			<li><img src="img/link-4.png"/></li>
			<li><img src="img/link-5.png"/></li>
			<li><img src="img/link-6.png"/></li>
			<li><img src="img/link-7.png"/></li>
			<li><img src="img/link-8.png"/></li>
			<li><img src="img/link-9.png"/></li>
			<li><img src="img/link-10.png"/></li>
			<li><img src="img/link-11.png"/></li>
			<li><img src="img/link-12.png"/></li>
			<li><img src="img/link-13.png"/></li>
			<li><img src="img/link-14.png"/></li>
			<li><img src="img/link-15.png"/></li>			
			<li><img src="img/link-16.png"/></li>
		</ul>
		</div>
   <footer th:replace="common/footer :: footer"></footer>
</body>
<script type="text/javascript" src="js/login.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript">

	
	$(function(){
		if(myStorage.getItem("isLogin")!=null && myStorage.getItem("isLogin")=="1"){//说明已登录
			$('#user_login_after_tel').html(myStorage.getItem('utel'));
 			$('.userCenter-tab').hide();
 			$('.loginBox').hide();
 			$('.login-userMsg').show();
		}
		

		$('.countdown').each(function(index,element){
			
			$(this).downCount({
				date: $(this).find('span:first-child').html(),
				offset: +10
			}, function () {
				$(element).html('<i>已结束</i>');
			});
		});
		
		//首页首屏轮播图
		$('.slider1').bxSlider({
			mode: 'fade',
			infiniteLoop: true,
			auto: true,
			speed:400,
			hideControlOnEnd: true
		});
		
		
		
		$("#user_login_remind").click(function(){
			$(this).attr("checked",!$(this).attr("checked"));
		});
		
		$(".nav-selected").removeClass("nav-selected");
		$(".navBox li").eq(0).addClass("nav-selected");
		$("#index-required-list").find("a").click(function(){
			$(this).attr("href","/qiji/requireXQ?activityActid="+$(this).prev().html());
		});
		
		$("#index-service-list").find("a").click(function(){
			$(this).attr("href","/qiji/serviceXQ?serviceId="+$(this).attr("value"));
		});
		
	});
</script>
</html>