<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>增加资料</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/my.css"/>
	</head>
	<body>
		<div class="page">
			<div class="case clearfix area">
				<div class="case-l left">
					<ul>
						<li>
							<h3>用户中心</h3>
							<a href="javascript:void(0)">个人资料</a>
							<a href="javascript:void(0)">组织管理</a>
							<a href="javascript:void(0)">资金管理</a>
							<a href="javascript:void(0)">账户管理</a>
						</li>
						<li>
							<h3>服务管理</h3>
							<a href="javascript:void(0)">认证的服务</a>
							<a class="active" href="javascript:void(0)">增加服务</a>
							<a href="javascript:void(0)">限时促销</a>
							<a href="javascript:void(0)">案例管理</a>
						</li>
						<li>
							<h3>订单管理</h3>
							<a href="javascript:void(0)">我的抢单</a>
							<a href="javascript:void(0)">我的订单</a>
							<a href="javascript:void(0)">交易记录</a>
							<a href="javascript:void(0)">数据统计</a>
						</li>
						<li>
							<h3>订单管理</h3>
							<a href="javascript:void(0)">我的抢单</a>
							<a href="javascript:void(0)">我的订单</a>
							<a href="javascript:void(0)">交易记录</a>
							<a href="javascript:void(0)">数据统计</a>
						</li>
						<li>
							<h3>雇主管理</h3>
							<a href="javascript:void(0)">服务商访问记录</a>
							<a href="javascript:void(0)">合作的雇主</a>
						</li>
						<li>
							<h3>消息中心</h3>
							<a href="javascript:void(0)">未读消息</a>
							<a href="javascript:void(0)">已读消息</a>
						</li>
					</ul>
				</div>
				<div class="case-r right">					
					<div class="pageSlider"><a href="">我是服务商</a>>增加资料</div>
					<div class="accout-management information">
						<div class="ipt">
							<label>用户类型：</label>
							<input type="text" name="" id="" placeholder="请填写" />
						</div>
						<div class="ipt">
							<label>类型：</label>
							<span>线上</span>
						</div>
						<div class="ipt">
							<label>子类型：</label>
							<span>微博</span>
						</div>
						<div class="address sex">
							<span>地址：</span>
							<div class="address-con">
								<span></span><i>省</i>
								<span></span><i>市</i>
								<span></span><i>区</i>
							</div>
						</div>						
						<div class="ipt">
							<label>学校全称：</label>
							<input type="text" name="" id="" placeholder="请填写" />
						</div>
						<div class="ipt">
							<label>微博名称：</label>
							<input type="text" name="" id="" placeholder="请填写" />
						</div>
						<div class="ipt info">
							<label>微博简介：</label>
							<textarea name="" rows="" cols="" placeholder="请填写"></textarea>
						</div>
						<div class="ipt">
							<label>所属类型：</label>
							<span>请选择</span>
						</div>
						<div class="ipt">
							<label>粉丝数量：</label>
							<input type="text" name="" id="" placeholder="请填写" />
						</div>
						<div class="ipt">
							<label>平均阅读量：</label>
							<input type="text" name="" id="" placeholder="请填写" />
						</div>
						<div class="addImg">
							<span>粉丝数图片：</span>
							<div class="addImg-right">
								<img src="img/add.png"/>
							</div>
							<p>图片格式JPG、JPEG、PNG文件大小3M以内</p>
						</div>
						<div class="ipt">
							<label>是否预约：</label>
							<span>请选择</span>
						</div>
						<div class="ipt">
							<label><i>*</i>联系人：</label>
							<input type="text" name="" id="" value="" />
						</div>
						<div class="ipt">
							<label><i>*</i>联系方式：</label>
							<input type="text" name="" id="" value="" />
						</div>
						<div class="ipt">
							<label><i>*</i>邮箱：</label>
							<input type="text" name="" id="" value="" />
						</div>
						<div class="info-btn">          	
		                	<input class="btn" type="button" id="login_btn" value="保存">	
		                </div> 
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
