<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>账号管理</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/my.css"/>
	</head>
	<body>
		<div class="page">
			<div class="case clearfix area">
				<div class="case-l left">
					<ul>
						<li>
							<h3>用户中心</h3>
							<a href="javascript:void(0)">个人资料</a>
							<a href="javascript:void(0)">组织管理</a>
							<a href="javascript:void(0)">资金管理</a>
							<a class="active" href="javascript:void(0)">账户管理</a>
						</li>
						<li>
							<h3>服务管理</h3>
							<a href="javascript:void(0)">认证的服务</a>
							<a href="javascript:void(0)">增加服务</a>
							<a href="javascript:void(0)">限时促销</a>
							<a href="javascript:void(0)">案例管理</a>
						</li>
						<li>
							<h3>订单管理</h3>
							<a href="javascript:void(0)">我的抢单</a>
							<a href="javascript:void(0)">我的订单</a>
							<a href="javascript:void(0)">交易记录</a>
							<a href="javascript:void(0)">数据统计</a>
						</li>
						<li>
							<h3>订单管理</h3>
							<a href="javascript:void(0)">我的抢单</a>
							<a href="javascript:void(0)">我的订单</a>
							<a href="javascript:void(0)">交易记录</a>
							<a href="javascript:void(0)">数据统计</a>
						</li>
						<li>
							<h3>雇主管理</h3>
							<a href="javascript:void(0)">服务商访问记录</a>
							<a href="javascript:void(0)">合作的雇主</a>
						</li>
						<li>
							<h3>消息中心</h3>
							<a href="javascript:void(0)">未读消息</a>
							<a href="javascript:void(0)">已读消息</a>
						</li>
					</ul>
				</div>
				<div class="case-r right">					
					<div class="pageSlider"><a href="">我是服务商</a>>账号管理</div>
					<div class="accout-management">
						<h5>修改密码</h5>
						<div id="number" class="number">
							<label name="tel">请输入手机号：</label>
	                    	<input class="tel" type="text" id="tel" name="username" maxlength="11">	                    
		                </div>
		                <div id="yzmBox" class="number">
		                	<label name="yzm">请输入验证码：</label>
		                    <input class="yzm" type="text" id="yzm" name="yzm">
		                    <span>发送验证码</span>
		                </div>
		                <div id="password_box" class="number">
		                	<label name="tx">请输入新密码：</label>
		                    <input id="tx" name="mima" type="password">
		                </div>
		                <div>          	
		                	<input class="btn" type="button" id="login_btn" value="提交">	
		                </div> 
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
