<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>认证的服务详情</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/my.css"/>
	</head>
	<body>
		<div class="page">
			<div class="case clearfix area">
				<div class="case-l left">
					<ul>
						<li>
							<h3>用户中心</h3>
							<a href="javascript:void(0)">个人资料</a>
							<a href="javascript:void(0)">组织管理</a>
							<a href="javascript:void(0)">资金管理</a>
							<a href="javascript:void(0)">账户管理</a>
						</li>
						<li>
							<h3>服务管理</h3>
							<a class="active" href="javascript:void(0)">认证的服务</a>
							<a href="javascript:void(0)">增加服务</a>
							<a href="javascript:void(0)">限时促销</a>
							<a href="javascript:void(0)">案例管理</a>
						</li>
						<li>
							<h3>订单管理</h3>
							<a href="javascript:void(0)">我的抢单</a>
							<a href="javascript:void(0)">我的订单</a>
							<a href="javascript:void(0)">交易记录</a>
							<a href="javascript:void(0)">数据统计</a>
						</li>
						<li>
							<h3>订单管理</h3>
							<a href="javascript:void(0)">我的抢单</a>
							<a href="javascript:void(0)">我的订单</a>
							<a href="javascript:void(0)">交易记录</a>
							<a href="javascript:void(0)">数据统计</a>
						</li>
						<li>
							<h3>雇主管理</h3>
							<a href="javascript:void(0)">服务商访问记录</a>
							<a href="javascript:void(0)">合作的雇主</a>
						</li>
						<li>
							<h3>消息中心</h3>
							<a href="javascript:void(0)">未读消息</a>
							<a href="javascript:void(0)">已读消息</a>
						</li>
					</ul>
				</div>
				<div class="case-r right">					
					<div class="pageSlider"><a href="">我是服务商</a>><a href="">认证的服务</a>>服务详情</div>
					<div class="certified-service-xq">
						<div class="required-list">
							<div class="required-list-l left">
								<img src="img/11.png" />
							</div>
							<div class="required-list-r left">
								<h4>需求名称：寻找昆明理工大学的场地</h4>
								<p>需求简介：需要一个200平方的场地，距离200人学生，参加网音乐歌手大赛</p>
								<p>要求：需求项目要达到的效果，注意事项等等问题</p>
								<p>报价：6000元</p>
								<span>历史购买：1200次</span>
								<span>是否预约：是</span>
								<span>地址：昆明理工大学</span>
								<a href="" class="submitBtn">提交审核</a>
								<a href="" class="editorBtn">编辑</a>
							</div>
						</div>
					</div>
					<div class="pinglun-con">
						<div class="pinglun-title">
							<h5>评价（<i>200</i>）</h5>
						</div>
						<div class="pinglunList clearfix">
							<div class="pinglunList-l left">
								<img src="img/required-5.png" />
							</div>
							<div class="pinglunList-r left">
								<div class="pinglunList-t">
									<span class="right">2017.6.22</span>
									<h4>那年夏天</h4>
								</div>
								<p>那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那 那年夏天那年夏天那年夏天那年夏天
								</p>
							</div>
						</div>
						<div class="pinglunList clearfix">
							<div class="pinglunList-l left">
								<img src="img/required-5.png" />
							</div>
							<div class="pinglunList-r left">
								<div class="pinglunList-t">
									<span class="right">2017.6.22</span>
									<h4>那年夏天</h4>
								</div>
								<p>那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那 那年夏天那年夏天那年夏天那年夏天
								</p>
							</div>
						</div>
						<div class="pinglunList clearfix">
							<div class="pinglunList-l left">
								<img src="img/required-5.png" />
							</div>
							<div class="pinglunList-r left">
								<div class="pinglunList-t">
									<span class="right">2017.6.22</span>
									<h4>那年夏天</h4>
								</div>
								<p>那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那 那年夏天那年夏天那年夏天那年夏天
								</p>
							</div>
						</div>
						<div class="pinglunList clearfix">
							<div class="pinglunList-l left">
								<img src="img/required-5.png" />
							</div>
							<div class="pinglunList-r left">
								<div class="pinglunList-t">
									<span class="right">2017.6.22</span>
									<h4>那年夏天</h4>
								</div>
								<p>那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那 那年夏天那年夏天那年夏天那年夏天
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
