<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>个人中心-订单管理</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/my.css"/>
	</head>
	<body>
		<div class="page">
			<div class="case clearfix area">
				<div class="case-l left">
					<ul>
						<li>
							<h3>用户中心</h3>
							<a href="javascript:void(0)">个人资料</a>
							<a href="javascript:void(0)">组织管理</a>
							<a href="javascript:void(0)">资金管理</a>
							<a href="javascript:void(0)">账户管理</a>
						</li>
						<li>
							<h3>服务管理</h3>
							<a href="javascript:void(0)">认证的服务</a>
							<a href="javascript:void(0)">增加服务</a>
							<a href="javascript:void(0)">限时促销</a>
							<a class="active" href="javascript:void(0)">案例管理</a>
						</li>
						<li>
							<h3>订单管理</h3>
							<a href="javascript:void(0)">我的抢单</a>
							<a href="javascript:void(0)">我的订单</a>
							<a href="javascript:void(0)">交易记录</a>
							<a href="javascript:void(0)">数据统计</a>
						</li>
						<li>
							<h3>订单管理</h3>
							<a href="javascript:void(0)">我的抢单</a>
							<a href="javascript:void(0)">我的订单</a>
							<a href="javascript:void(0)">交易记录</a>
							<a href="javascript:void(0)">数据统计</a>
						</li>
						<li>
							<h3>雇主管理</h3>
							<a href="javascript:void(0)">服务商访问记录</a>
							<a href="javascript:void(0)">合作的雇主</a>
						</li>
						<li>
							<h3>消息中心</h3>
							<a href="javascript:void(0)">未读消息</a>
							<a href="javascript:void(0)">已读消息</a>
						</li>
					</ul>
				</div>
				<div class="case-r right">
					<div class="pageSlider"><a href="">我是服务商</a>>案例管理</div>
					<div class="case-con clearfix">
						<div class="case-list">
							<div class="case-list-img">				
								<img src="img/11.png"/>
							</div>
							<p>昆明理工篮球场地</p>
							<span class="delete"><img src="img/delete.png"/></span>
						</div>
						<div class="case-list">
							<div class="case-list-img">				
								<img src="img/11.png"/>
							</div>
							<p>昆明理工篮球场地</p>
							<span class="delete"><img src="img/delete.png"/></span>
						</div>
						<div class="case-list">
							<div class="case-list-img">				
								<img src="img/11.png"/>
							</div>
							<p>昆明理工篮球场地</p>
							<span class="delete"><img src="img/delete.png"/></span>
						</div>
						<div class="case-list">
							<div class="case-list-img">				
								<img src="img/11.png"/>
							</div>
							<p>昆明理工篮球场地</p>
							<span class="delete"><img src="img/delete.png"/></span>
						</div>
						<div class="case-list">
							<div class="case-list-img">				
								<img src="img/11.png"/>
							</div>
							<p>昆明理工篮球场地</p>
							<span class="delete"><img src="img/delete.png"/></span>
						</div>
						<div class="case-list">
							<div class="case-list-img">				
								<img src="img/11.png"/>
							</div>
							<p>昆明理工篮球场地</p>
							<span class="delete"><img src="img/delete.png"/></span>
						</div>
						<div class="case-list">
							<div class="case-list-img">				
								<img src="img/11.png"/>
							</div>
							<p>昆明理工篮球场地</p>
							<span class="delete"><img src="img/delete.png"/></span>
						</div>
						<div class="case-list">
							<div class="case-list-img">				
								<img src="img/11.png"/>
							</div>
							<p>昆明理工篮球场地</p>
							<span class="delete"><img src="img/delete.png"/></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
