<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>认证的服务</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/my.css"/>
	</head>
	<body>
		<div class="page">
			<div class="case clearfix area">
				<div class="case-l left">
					<ul>
						<li>
							<h3>用户中心</h3>
							<a href="javascript:void(0)">个人资料</a>
							<a href="javascript:void(0)">组织管理</a>
							<a href="javascript:void(0)">资金管理</a>
							<a href="javascript:void(0)">账户管理</a>
						</li>
						<li>
							<h3>服务管理</h3>
							<a class="active" href="javascript:void(0)">认证的服务</a>
							<a href="javascript:void(0)">增加服务</a>
							<a href="javascript:void(0)">限时促销</a>
							<a href="javascript:void(0)">案例管理</a>
						</li>
						<li>
							<h3>订单管理</h3>
							<a href="javascript:void(0)">我的抢单</a>
							<a href="javascript:void(0)">我的订单</a>
							<a href="javascript:void(0)">交易记录</a>
							<a href="javascript:void(0)">数据统计</a>
						</li>
						<li>
							<h3>订单管理</h3>
							<a href="javascript:void(0)">我的抢单</a>
							<a href="javascript:void(0)">我的订单</a>
							<a href="javascript:void(0)">交易记录</a>
							<a href="javascript:void(0)">数据统计</a>
						</li>
						<li>
							<h3>雇主管理</h3>
							<a href="javascript:void(0)">服务商访问记录</a>
							<a href="javascript:void(0)">合作的雇主</a>
						</li>
						<li>
							<h3>消息中心</h3>
							<a href="javascript:void(0)">未读消息</a>
							<a href="javascript:void(0)">已读消息</a>
						</li>
					</ul>
				</div>
				<div class="case-r right">					
					<div class="pageSlider"><a href="">我是服务商</a>>认证的服务</div>
					<div class="certified-service">
						<div class="certified-title">
							<h4>名称</h4>
							<h4>简介</h4>
							<h4>地点</h4>
							<h4>金额</h4>
							<h4>截止时间</h4>
							<h4>是否预约</h4>
						</div>
						<div class="certified-list">
							<div class="certified-item">
								<a href="my-certified-serviceList.html">
									<div class="item-name left">
										<span>1</span>
										<div class="item-img"><img src=""/></div>
										<p>服务名字服务名字服务名字服务名字服务名字</p>
									</div>
									<p class="item-info left">昆明理工大学</p>
									<span>昆明</span>
									<span>6000</span>
									<span>2017.11.11</span>
									<span>是</span>
								</a>
							</div>
							<div class="certified-item">
								<a href="my-certified-serviceList.html">
									<div class="item-name left">
										<span>1</span>
										<div class="item-img"><img src=""/></div>
										<p>服务名字服务名字服务名字服务名字服务名字</p>
									</div>
									<p class="item-info left">昆明理工大学</p>
									<span>昆明</span>
									<span>6000</span>
									<span>2017.11.11</span>
									<span>是</span>
								</a>
							</div>
							<div class="certified-item">
								<a href="my-certified-serviceList.html">
									<div class="item-name left">
										<span>1</span>
										<div class="item-img"><img src=""/></div>
										<p>服务名字服务名字服务名字服务名字服务名字</p>
									</div>
									<p class="item-info left">昆明理工大学</p>
									<span>昆明</span>
									<span>6000</span>
									<span>2017.11.11</span>
									<span>是</span>
								</a>
							</div>
							<div class="certified-item">
								<a href="my-certified-serviceList.html">
									<div class="item-name left">
										<span>1</span>
										<div class="item-img"><img src=""/></div>
										<p>服务名字服务名字服务名字服务名字服务名字</p>
									</div>
									<p class="item-info left">昆明理工大学</p>
									<span>昆明</span>
									<span>6000</span>
									<span>2017.11.11</span>
									<span>是</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
