<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>合作的服务商</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/my.css"/>
	</head>
	<body>
		<div class="page">
			<div class="case clearfix area">
				<div class="case-l left">
					<ul>
						<li>
							<h3>用户中心</h3>
							<a href="javascript:void(0)">个人资料</a>
							<a href="javascript:void(0)">组织管理</a>
							<a href="javascript:void(0)">资金管理</a>
							<a href="javascript:void(0)">账户管理</a>
						</li>
						<li>
							<h3>服务管理</h3>
							<a href="javascript:void(0)">认证的服务</a>
							<a href="javascript:void(0)">增加服务</a>
							<a href="javascript:void(0)">限时促销</a>
							<a href="javascript:void(0)">案例管理</a>
						</li>
						<li>
							<h3>订单管理</h3>
							<a href="javascript:void(0)">我的抢单</a>
							<a href="javascript:void(0)">我的订单</a>
							<a href="javascript:void(0)">交易记录</a>
							<a href="javascript:void(0)">数据统计</a>
						</li>
						<li>
							<h3>订单管理</h3>
							<a href="javascript:void(0)">我的抢单</a>
							<a href="javascript:void(0)">我的订单</a>
							<a href="javascript:void(0)">交易记录</a>
							<a href="javascript:void(0)">数据统计</a>
						</li>
						<li>
							<h3>雇主管理</h3>
							<a href="javascript:void(0)">服务商访问记录</a>
							<a class="active" href="javascript:void(0)">合作的雇主</a>
						</li>
						<li>
							<h3>消息中心</h3>
							<a href="javascript:void(0)">未读消息</a>
							<a href="javascript:void(0)">已读消息</a>
						</li>
					</ul>
				</div>
				<div class="case-r right">					
					<div class="pageSlider"><a href="">我是服务商</a>>合作的雇主</div>
					<div class="cooperative-employer">
						<div class="certified-title">
							<h4>名称</h4>
							<h4>简介</h4>
							<h4>雇主</h4>
						</div>
						<div class="cooperative-list">
							<div class="cooperative-item">
								<div class="cooperative-item-title">
									<span class="cit-t">1.</span>
									<span class="cit-t">2017.10.9</span> 
									<p class="cit-t">订单编号：15241525225545221522</p>
								</div>
								<div class="cooperative-item-con">
									<div class="cooperative-name itbottom">
										<div class="cooperative-item-img"><img src="img/11.png"/></div>
										<p>需求名字需求名字需求需求名字需求名字需求需求名字需求名字需求需求名字需求名字需求</p>
									</div>
									<p class="cooperative-info itbottom">全球超过10,000所机构认可雅思成绩，无论你想留学、移民、就业，还是检测英语水平；无论你想去英国、澳大利亚、新西兰、美国、瑞典、新加坡</p>
									<p class="itbottom">雅思教育</p>
								</div>
							</div>
							<div class="cooperative-item">
								<div class="cooperative-item-title">
									<span class="cit-t">2.</span>
									<span class="cit-t">2017.10.9</span> 
									<p class="cit-t">订单编号：15241525225545221522</p>
								</div>
								<div class="cooperative-item-con">
									<div class="cooperative-name itbottom">
										<div class="cooperative-item-img"><img src="img/11.png"/></div>
										<p>需求名字需求名字需求需求名字需求名字需求需求名字需求名字需求需求名字需求名字需求</p>
									</div>
									<p class="cooperative-info itbottom">全球超过10,000所机构认可雅思成绩，无论你想留学、移民、就业，还是检测英语水平；无论你想去英国、澳大利亚、新西兰、美国、瑞典、新加坡</p>
									<p class="itbottom">雅思教育</p>
								</div>
							</div>
							<div class="cooperative-item">
								<div class="cooperative-item-title">
									<span class="cit-t">3.</span>
									<span class="cit-t">2017.10.9</span> 
									<p class="cit-t">订单编号：15241525225545221522</p>
								</div>
								<div class="cooperative-item-con">
									<div class="cooperative-name itbottom">
										<div class="cooperative-item-img"><img src="img/11.png"/></div>
										<p>需求名字需求名字需求需求名字需求名字需求需求名字需求名字需求需求名字需求名字需求</p>
									</div>
									<p class="cooperative-info itbottom">全球超过10,000所机构认可雅思成绩，无论你想留学、移民、就业，还是检测英语水平；无论你想去英国、澳大利亚、新西兰、美国、瑞典、新加坡</p>
									<p class="itbottom">雅思教育</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
