<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head th:replace="common/inc::common_header('需求详情')">
	</head>
<body>
   <header th:replace="common/header :: header"></header>
		<div class="page">
			<div class="requireXQ area">
				<div class="pageSlider"><a href="">首页</a>>需求详情</div>
				<div class="requireXQ-con">
					<div class="required-list">
						<div class="required-list-l left">
							<img src="img/11.png"/>
						</div>
						<div class="required-list-r right">
						
						
								<h4 th:text="'需求名称 : ' + ${requireXQ_activityDetail.activityTitle}">需求名称：微信公众号推广</h4>
								<p th:text="'需求简介 : ' + ${requireXQ_activityDetail.activityContent}">主要介绍项目推广的目的，想到达到什么样的效果主要介绍项目推广的目的，想到．．．．</p>
								<p th:text="'要求: ' + ${requireXQ_activityDetail.activityNeeds}">1、限新用户（之前没有用过花椒直播APP的用户）2、限北京高校的大学生，男女不限3、保证一定的用户留存及活跃度</p>
								<p th:text="'预算 : ' + ${requireXQ_activityDetail.activityActback}">预算：10000</p>
								
								<span th:text="'开始时间 : ' + ${requireXQ_activityDetail.activityStartTime}">开始时间：2017.9.16</span>
								<span th:text="'截至时间 : ' + ${requireXQ_activityDetail.activityEndTime}">结束时间：2017.12.31</span>
								<span th:text="'地址: ' + ${requireXQ_activityDetail.activityAddress}">地址：昆明理工大学</span>
								<div class="required-bottom-info">
									<span class="right">距离抢单结束时间还有：
										<span class="countdown">
											<span th:text="${requireXQ_activityDetail.activityEndTime}" hidden="true"></span>
											<i class="days">00</i>
											<i class="days_ref"> 天  </i>
											<i class="hours">00</i>
											<i>:</i>
											<i class="minutes">00</i>
											<i>:</i>
											<i class="seconds">00</i>
										</span>
									</span>
								</div>
								<span th:text="${requireXQ_activityDetail.activityActid}" hidden="true"></span>
							<a href="" class="head-btn">立即抢单</a>
						</div>
					</div>
				</div>
			</div>
		</div>
   <footer th:replace="common/footer :: footer"></footer>
</body>
</html>
