<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head th:replace="common/inc::common_header('需求详情')">
	</head>
<body>
   <header th:replace="common/header :: header"></header>
		<div class="page">
			<div class="requireXQ area">
				<div class="pageSlider"><a href="">首页</a>>需求详情</div>
				<div class="requireXQ-con">
					<div class="required-list">
						<div class="required-list-l left">
							<img src="img/11.png"/>
						</div>
						<div class="required-list-r right">
							<h4>需求名称：寻找昆明理工大学的场地</h4>
							<p>需求简介：需要一个200平方的场地，距离200人学生，参加网音乐歌手大赛</p>
							<p>要求：需求项目要达到的效果，注意事项等等问题</p>
							<p>预算：6000元</p>
							<span>开始时间：2017.9.16</span>
							<span>开始时间：2017.9.16</span>
							<span>地址：昆明理工大学</span>
							<span>距离抢单结束时间还有：<i>00:21:10</i></span>
							<a href="" class="head-btn">立即抢单</a>
						</div>
					</div>
				</div>
			</div>
		</div>
   <footer th:replace="common/footer :: footer"></footer>
</body>
</html>
