<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head th:replace="common/inc::common_header('企业需求')">
	</head>
<body>
   <header th:replace="common/header :: header"></header>
		<div class="page">
			<div class="requireXQ area">
				<div class="requireXQ-top">
					<div class="search-list">
						<span class="left">服务类型</span>
						<div class="search-list-r left">
							<a href="javascript:void(0)">线上</a>
							<a href="javascript:void(0)">线上</a>
							<a href="javascript:void(0)">人员</a>
							<a href="javascript:void(0)">场地</a>
							<a href="javascript:void(0)">内容场地</a>
							<a href="javascript:void(0)">制作/搭建</a>
						</div>
					</div>
					<div class="search-list">
						<span class="left">价格</span>
						<div class="search-list-r left">
							<a href="javascript:void(0)">&lt;50</a>
							<a href="javascript:void(0)">500-1000</a>
							<a href="javascript:void(0)">1000-2000</a>
							<a href="javascript:void(0)">2000-5000</a>
							<a href="javascript:void(0)">&gt;5000</a>
						</div>
					</div>
					<div class="search-list">
						<span class="left">地区</span>
						<div class="search-list-r left">
							<a href="javascript:void(0)">北京</a>
							<a href="javascript:void(0)">上海</a>
							<a href="javascript:void(0)">天津</a>
							<a href="javascript:void(0)">北京</a>
							<a href="javascript:void(0)">上海</a>
							<a href="javascript:void(0)">天津</a>
							<a href="javascript:void(0)">上海</a>
							<a href="javascript:void(0)">天津</a>
							<a href="javascript:void(0)">北京</a>
							<a href="javascript:void(0)">上海</a>
							<a href="javascript:void(0)">天津</a>							
							<a href="javascript:void(0)">天津</a>
							<a href="javascript:void(0)">北京</a>
						</div>
					</div>
					<div class="search-list">
						<span class="left">院校</span>
						<div class="search-list-r left">
							<a href="javascript:void(0)">985</a>
							<a href="javascript:void(0)">211</a>
							<a href="javascript:void(0)">一本</a>
							<a href="javascript:void(0)">二本</a>
							<a href="javascript:void(0)">三本</a>
						</div>
					</div>
				</div>
				<div class="title">
					<h2>最新资源</h2>
				</div>
				<div class="sortBox">
					<span>排序</span>
					<a href="">地区</a>
					<a href="">类型</a>
					<a href="">预算</a>
					<a href="">开始时间</a>
				</div>
				<div class="line"></div>
				<div class="required-main">
					<div class="required-list">
						<div class="required-list-l left">
							<img src="img/11.png"/>
						</div>
						<div class="required-list-r left">
							<h4>需求类型：微信公众号推广</h4>
							<p>企业名称：中国人民大学</p>
							<p>需求简介：主要介绍项目推广的目的，想到达到什么样的效果主要介绍项目推广的目的，想到．．．．</p>
							<span>地区：杭州市</span>
							<span>预算：10000</span>
							<span>开始时间：2017.9.16</span>
							<div class="required-bottom-info"><span>结束时间：2017.12.31</span><span class="right">距离抢单结束时间还有：<i>00:21:10</i></span></div>
							<a href="" class="head-btn">马上抢</a>
						</div>
					</div>
					<div class="required-list">
						<div class="required-list-l left">
							<img src="img/11.png"/>
						</div>
						<div class="required-list-r left">
							<h4>需求类型：微信公众号推广</h4>
							<p>企业名称：中国人民大学</p>
							<p>需求简介：主要介绍项目推广的目的，想到达到什么样的效果主要介绍项目推广的目的，想到．．．．</p>
							<span>地区：杭州市</span>
							<span>预算：10000</span>
							<span>开始时间：2017.9.16</span>
							<div class="required-bottom-info"><span>结束时间：2017.12.31</span><span class="right">距离抢单结束时间还有：<i>00:21:10</i></span></div>
							<a href="" class="head-btn">马上抢</a>
						</div>
					</div>
					<div class="required-list">
						<div class="required-list-l left">
							<img src="img/11.png"/>
						</div>
						<div class="required-list-r left">
							<h4>需求类型：微信公众号推广</h4>
							<p>企业名称：中国人民大学</p>
							<p>需求简介：主要介绍项目推广的目的，想到达到什么样的效果主要介绍项目推广的目的，想到．．．．</p>
							<span>地区：杭州市</span>
							<span>预算：10000</span>
							<span>开始时间：2017.9.16</span>
							<div class="required-bottom-info"><span>结束时间：2017.12.31</span><span class="right">距离抢单结束时间还有：<i>00:21:10</i></span></div>
							<a href="" class="head-btn">马上抢</a>
						</div>
					</div>
				</div>
			</div>
		</div>
   <footer th:replace="common/footer :: footer"></footer>
</body>
<script type="text/javascript">
$(function(){
	$(".nav-selected").removeClass("nav-selected");
	$(".navBox li").eq(1).addClass("nav-selected");
});
</script>
</html>
