<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>服务资源</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<div class="page">
			<div class="service_providers area">				
				<div class="sortBox">
					<span>服务类型</span>
					<a href="">线上</a>
					<a href="">线下</a>
					<a href="">人员</a>
					<a href="">场地</a>
					<a href="">内容制作</a>
					<a href="">制作/搭建</a>
				</div>
				<div class="sortBox">
					<span>服务分类</span>
					<a href="">微信公众号</a>
					<a href="">朋友圈转发</a>
					<a href="">校内群推送</a>
					<a href="">QQ空间转发</a>
				</div>
				<div class="sortBox sortBox_b">
					<span>筛选条件</span>
					<a href="">省</a>
					<a href="">市</a>
					<a href="">区</a>
					<a href="">学校类别</a>
					<a href="">学校名称</a>
					<a href="">院系</a>
				</div>
				<div class="service_providers_con"> 
					<div class="title">
						<h2>服务列表</h2>
					</div>
					<div class="service_title">
						<span class="service_title_active">综合排序</span>
						<span>价格</span>
						<span>预约时间</span>
						<span>评分</span>
					</div>
					<div class="service_providers_list clearfix">
						<div class="required-list">
							<div class="required-list-l left">
								<img src="img/11.png"/>
							</div>
							<div class="required-list-r right">
								<h4>服务名称：微信公众号推广</h4>
								<p>服务组织：中国人民大学</p>
								<p>服务简介：主要介绍项目推广的目的，想到达到什么样的效果主要介绍项目推广的目的，想到．．．．</p>
								<span>学校：中国人民大学</span>
								<span>预约：2天</span>
								<span>价格：300</span>
								<span>评价：4.9</span>
								<a href="" class="head-btn service-btn"></a>
							</div>
						</div>
						<div class="required-list">
							<div class="required-list-l left">
								<img src="img/11.png"/>
							</div>
							<div class="required-list-r right">
								<h4>服务名称：微信公众号推广</h4>
								<p>服务组织：中国人民大学</p>
								<p>服务简介：主要介绍项目推广的目的，想到达到什么样的效果主要介绍项目推广的目的，想到．．．．</p>
								<span>学校：中国人民大学</span>
								<span>预约：2天</span>
								<span>价格：300</span>
								<span>评价：4.9</span>
								<a href="" class="head-btn service-btn"></a>
							</div>
						</div>
						<div class="required-list">
							<div class="required-list-l left">
								<img src="img/11.png"/>
							</div>
							<div class="required-list-r right">
								<h4>服务名称：微信公众号推广</h4>
								<p>服务组织：中国人民大学</p>
								<p>服务简介：主要介绍项目推广的目的，想到达到什么样的效果主要介绍项目推广的目的，想到．．．．</p>
								<span>学校：中国人民大学</span>
								<span>预约：2天</span>
								<span>价格：300</span>
								<span>评价：4.9</span>
								<a href="" class="head-btn service-btn"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
