<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head th:replace="common/inc::common_header('服务详情')">
	</head>
<body>
   <header th:replace="common/header :: header"></header>
		<div class="page">
			<div class="serviceXQ area">
				<div class="pageSlider">
					<a href="">首页</a>>服务详情</div>
				<div class="requireXQ-con">
					<div class="required-list">
						<div class="required-list-l left">
							<img src="img/11.png" />
						</div>
						<div class="required-list-r right">
							<h4>需求名称：寻找昆明理工大学的场地</h4>
							<p>需求简介：需要一个200平方的场地，距离200人学生，参加网音乐歌手大赛</p>
							<p>要求：需求项目要达到的效果，注意事项等等问题</p>
							<p>报价：6000元</p>
							<span>历史购买：1200次</span>
							<span>是否预约：是</span>
							<span>地址：昆明理工大学</span>
							<a href="" class="head-btn shopBtn">加入购物车</a>
							<a href="" class="head-btn qgBtn">立即抢单</a>
						</div>
					</div>
				</div>
				<div class="pinglun-con">
					<div class="pinglun-title">
						<h5>评价（<i>200</i>）</h5></div>
					<div class="pinglunList clearfix">
						<div class="pinglunList-l left">
							<img src="img/required-5.png" />
						</div>
						<div class="pinglunList-r left">
							<div class="pinglunList-t">
								<span class="right">2017.6.22</span>
								<h4>那年夏天</h4>
							</div>
							<p>那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那 那年夏天那年夏天那年夏天那年夏天
							</p>
						</div>
					</div>
					<div class="pinglunList clearfix">
						<div class="pinglunList-l left">
							<img src="img/required-5.png" />
						</div>
						<div class="pinglunList-r left">
							<div class="pinglunList-t">
								<span class="right">2017.6.22</span>
								<h4>那年夏天</h4>
							</div>
							<p>那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那 那年夏天那年夏天那年夏天那年夏天
							</p>
						</div>
					</div>
					<div class="pinglunList clearfix">
						<div class="pinglunList-l left">
							<img src="img/required-5.png" />
						</div>
						<div class="pinglunList-r left">
							<div class="pinglunList-t">
								<span class="right">2017.6.22</span>
								<h4>那年夏天</h4>
							</div>
							<p>那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那 那年夏天那年夏天那年夏天那年夏天
							</p>
						</div>
					</div>
					<div class="pinglunList clearfix">
						<div class="pinglunList-l left">
							<img src="img/required-5.png" />
						</div>
						<div class="pinglunList-r left">
							<div class="pinglunList-t">
								<span class="right">2017.6.22</span>
								<h4>那年夏天</h4>
							</div>
							<p>那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那年夏天那 那年夏天那年夏天那年夏天那年夏天
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
   <footer th:replace="common/footer :: footer"></footer>
</body>

</html>