<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head th:replace="common/inc::common_header('服务商')">
	</head>
<body>
   <header th:replace="common/header :: header"></header>
		<div class="page">
			<div class="service_providers area">				
				<div class="sortBox">
					<span>热门学校</span>
					<a href="">北京大学</a>
					<a href="">中央民族大学</a>
					<a href="">清华大学</a>
					<a href="">四川大学</a>
					<a href="">中国林业大学</a>
					<a href="">浙江大学</a>
				</div>
				<div class="sortBox sortBox_b">
					<span>筛选条件</span>
					<a class="first" href="">省</a>
					<a class="first" href="">市</a>
					<a class="first" href="">区</a>
					<a href="">学校类别</a>
					<a href="">学校名称</a>
					<a href="">院系</a>
					<a href="">服务商类别</a>
				</div>
				<div class="service_providers_con"> 
					<div class="service_title">
						<span class="service_title_active">综合排序</span>
						<span>交易量</span>
						<span>评分</span>
					</div>
					<div class="service_providers_list clearfix">
						<div class="service_providers_item">
							<span class="providers_item_label">校学生会</span>
							<div class="providers_item_img">
								<img src="img/11.png"/>
							</div>
							<h4>近邻宝</h4>
							<div class="score">
								<i></i>
								<i></i>
								<i></i>
								<i></i>
								<i></i>
								<span>5分</span>
							</div>
							<div class="providers_item_info">
								<span>服务数量：18</span>
								<span class="icon1"><i></i>200</span>
								<span class="icon2"><i></i>200</span>
							</div>
						</div>
						<div class="service_providers_item">							
							<span class="providers_item_label personal">个人</span>
							<div class="providers_item_img">
								<img src="img/11.png"/>
							</div>
							<h4>近邻宝</h4>
							<div class="score">
								<i></i>
								<i></i>
								<i></i>
								<i></i>
								<i></i>
								<span>5分</span>
							</div>
							<div class="providers_item_info">
								<span>服务数量：18</span>
								<span class="icon1"><i></i>200</span>
								<span class="icon2"><i></i>200</span>
							</div>
						</div>
						<div class="service_providers_item">							
							<span class="providers_item_label personal">个人</span>
							<div class="providers_item_img">
								<img src="img/11.png"/>
							</div>
							<h4>近邻宝</h4>
							<div class="score">
								<i></i>
								<i></i>
								<i></i>
								<i></i>
								<i></i>
								<span>5分</span>
							</div>
							<div class="providers_item_info">
								<span>服务数量：18</span>
								<span class="icon1"><i></i>200</span>
								<span class="icon2"><i></i>200</span>
							</div>
						</div>
						<div class="service_providers_item">
							<span class="providers_item_label">院学生会</span>
							<div class="providers_item_img">
								<img src="img/11.png"/>
							</div>
							<h4>近邻宝</h4>
							<div class="score">
								<i></i>
								<i></i>
								<i></i>
								<i></i>
								<i></i>
								<span>5分</span>
							</div>
							<div class="providers_item_info">
								<span>服务数量：18</span>
								<span class="icon1"><i></i>200</span>
								<span class="icon2"><i></i>200</span>
							</div>
						</div>
						<div class="service_providers_item">
							<span class="providers_item_label">社团</span>
							<div class="providers_item_img">
								<img src="img/11.png"/>
							</div>
							<h4>近邻宝</h4>
							<div class="score">
								<i></i>
								<i></i>
								<i></i>
								<i></i>
								<i></i>
								<span>5分</span>
							</div>
							<div class="providers_item_info">
								<span>服务数量：18</span>
								<span class="icon1"><i></i>200</span>
								<span class="icon2"><i></i>200</span>
							</div>
						</div>
						<div class="service_providers_item">							
							<span class="providers_item_label personal">个人</span>
							<div class="providers_item_img">
								<img src="img/11.png"/>
							</div>
							<h4>近邻宝</h4>
							<div class="score">
								<i></i>
								<i></i>
								<i></i>
								<i></i>
								<i></i>
								<span>5分</span>
							</div>
							<div class="providers_item_info">
								<span>服务数量：18</span>
								<span class="icon1"><i></i>200</span>
								<span class="icon2"><i></i>200</span>
							</div>
						</div>
						<div class="service_providers_item">							
							<span class="providers_item_label personal">个人</span>
							<div class="providers_item_img">
								<img src="img/11.png"/>
							</div>
							<h4>近邻宝</h4>
							<div class="score">
								<i></i>
								<i></i>
								<i></i>
								<i></i>
								<i></i>
								<span>5分</span>
							</div>
							<div class="providers_item_info">
								<span>服务数量：18</span>
								<span class="icon1"><i></i>200</span>
								<span class="icon2"><i></i>200</span>
							</div>
						</div>
						<div class="service_providers_item">
							<span class="providers_item_label">志愿者</span>
							<div class="providers_item_img">
								<img src="img/11.png"/>
							</div>
							<h4>近邻宝</h4>
							<div class="score">
								<i></i>
								<i></i>
								<i></i>
								<i></i>
								<i></i>
								<span>5分</span>
							</div>
							<div class="providers_item_info">
								<span>服务数量：18</span>
								<span class="icon1"><i></i>200</span>
								<span class="icon2"><i></i>200</span>
							</div>
						</div>
					</div>
					<ul class="pagination" id="pagination"></ul>
				</div>
			</div>
		</div>
		<footer th:replace="common/footer :: footer"></footer>
	</body>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script type="text/javascript">
	$(function(){
		/**
		 * 初始化分页
		 */
		var pageSize=6;
		$('#pagination').jqPaginator({
			totalCounts : 100,//设置分页的总条目数
			pageSize : pageSize,//设置每一页的条目数
		    visiblePages: 6,
		    currentPage: 1,
		    first: '<li class="first"><a href="javascript:void(0);">首页</a></li>',  	// 首页的HTML样式
		    prev: '<li class="prev"><a href="javascript:void(0);"><</a></li>',		// 上一页的HTML样式
		    next: '<li class="next"><a href="javascript:void(0);">></a></li>',		// 下一页的HTML样式
		    last: '<li class="last"><a href="javascript:void(0);">末页</a></li>',		// 最后一页的样式
		    page: '<li class="page"><a href="javascript:void(0);">{{page}}</a></li>',	// 当前页样式
		    onPageChange: function (num, type) {						// 点页码的回调
		    	//searchData(num,this.pageSize);
		    }
		});
		
	});
	
	</script>
</html>
